body{
    display: block;
    margin: 0px;
	padding:0px;
	text-align:center;
}
#myDiv {
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	margin:0px;
	padding:0px;
}
#top{
	background-color: white;
	width: 100px;
	min-height: 500px;
	margin:0px;
	margin-bottom:50px;
	padding-top:0px;
	text-align:center;
	}
#bottom{
	color: #fff;
	/*background: rgba(0,0,0,.40);*/
	background-color: #000000;
	opacity: 0.4;
	width:100%;
	min-height:500px;
	margin-bottom:0px;
	margin-left: 0px;
	margin-right:0px;
	margin-top:150px;
}